<h1><%= @book.title %></h1>

<h3>Author:  <%= @book.author %></h3>
<p>
  Tags:
  <% @book.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<p><% if @book.image.exists? %>
      
<%= image_tag @book.image.url %></p>
<% end %>
<p><%= @book.description %></p>
<button class="btn-block"><h3>Comments:  (<%= @book.comments.size %>)</h3></button>
<%= render partial: 'books/comment', collection: @book.comments %>
<%= render partial: 'comments/form' %>
<button><%= link_to "Back to Book List", books_path %></button>
<br><br>

<button class="btn-danger"><%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Really delete the book?"} %></button>
<br><br>
<button class="btn-success"><%= link_to "Edit", edit_book_path(@book) %></button>
