<h1><%= @book.title %></h1>
<h3>Author:  <%= @book.author %></h3>
<p>
 <h4> Tags: </h4>
  <% @book.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<p><% if @book.image.exists? %>
  <%= image_tag @book.image.url %></p>
   <% end %>
<p><%= @book.description %></p>
<% if logged_in? %>
  <% if @book.user_id == current_user.id %>
    <button class="btn-danger"><%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Really delete the book?"} %></button>
    <button class="btn-success"><%= link_to "Edit", edit_book_path(@book) %></button>
  <% end %>
<% end %>
<br><br>
<button class="btn-block"><h3>Comments:  (<%= @book.comments.size %>)</h3></button>
<%= render partial: 'books/comment', collection: @book.comments %>
<%= render partial: 'comments/form' %>


