<!DOCTYPE html>
<html>
  <head>
    <title>Meetrreadr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="border fixed">
  <div class="nav-brand">
    <h4><%= link_to "Readr//Meetr", root_path %></a></h4>
  </div>
  <div class="collapsible">
    <input id="collapsible2" type="checkbox" name="collapsible2">
    <button>
      <label for="collapsible2">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
    </button>
    <div class="collapsible-body">
      <ul class="inline">
      
          
        <li><%= link_to "Log Out", logout_path %></li>
        <li><%= link_to "Log In", login_path %> </li>
        <li><%= link_to "Sign Up", signup_path %></li>
      
         
      
      </ul>
    </div>
  </div>
</nav>
  <p class="flash"><%= flash.notice %></p>
    <%= yield %>
  </body>
</html>
